* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
header, main, footer {
  width: 960px;
  margin: 0 auto;
}
h1, h2 {
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  text-align: center;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
img {
  max-width: 100%;
}
#product-image {
  display: block;
  margin-top: 30px;
}
#product-selection a{
  border: 1px solid #000;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}
ul {
  margin-top: 20px;
  
}
ul li {
  margin-bottom: 5px;
}

#cart-list img {
  width: 200px;

}